/* 
TODO: SCALE FOR OTHER BROWSER SIZES;

Uses 
Extra small devices (phones, up to 480px)
Small devices (tablets, 768px and up)
Medium devices (desktops, 992px and up)
Large devices (large desktops, 1200px and up)

@media (min-width: 768px) {
}

@media (max-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1200px) {
  .container {
    background-color: blue;
  }
}
*/

.container {
  padding: 0px;
}

.container .banner-container {
  background-color: #1c4302;
  border-bottom: 1px solid #9f9f9f;
  height: 410px;
  overflow: hidden;
  z-index: 1;
}

.container .banner-container .banner-image {
  background: url('images/banner-xs.jpg') top left no-repeat transparent;
  height: 410px;
  -moz-opacity: 0.25;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=25);
  opacity: 0.25;
  z-index: 2;
}

.container .banner-container .logo-background {
  background-color: #000;
  height: 80px;
  -moz-opacity: 0.50;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
  opacity: 0.50;
  z-index: 3;
  position: relative;
  top: -410px;
}

.container .banner-container .banner-overlay {
  height: 430px;
  z-index: 4;
  position: relative;
  top: -490px;
}

.container .banner-container .banner-overlay a.logo {
  background: url('images/logo-xs.png') top left no-repeat transparent;
  display: block;
  height: 52px;
  margin: 15px 15px;
  width: 225px;
}

.container .banner-container .banner-overlay .quote {
  bottom: 0px;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  height: 180px;
  margin-left: 20px;
  position: absolute;
  width: 290px;
}

.container .content {
  background-color: #e6e6e6;
  border-bottom: 1px solid #9f9f9f;
  border-top: 1px solid #fff;
  padding: 0 20px 30px 20px;
}

.container .content h1 {
  color: #444;
  font-size: 1.875em;
  line-height: 1.125em;
  font-weight: bold;
  text-transform: uppercase;
}

.container .content p {
  color: #000;
  font-size: 0.875em;
  line-height: 1.125em;
}

.container .footer {
  background-color: #cbcbcb;
  border-top: 1px solid #fff;
  color: #000;
  font-size: 0.875em;
  line-height: 1.125em;
  padding: 0 20px 30px 20px;
}

.container .footer ul {
  margin: 0 auto;
  padding: 50px 0 30px 0;
  width: 165px;
}

.container .footer ul.social li {
  display: inline-block;
  list-style: none;
}

.container .footer ul.social li a {
  display: block;
  width: 55px;
  height: 48px;
}

.container .footer ul.social li.fb {
  margin-right: 50px;
}


.container .footer ul.social li.fb a {
  background: url('images/icons/fb.png') top left no-repeat transparent;
}

.container .footer ul.social li.twitter a {
  background: url('images/icons/twitter.png') top left no-repeat transparent;
}

.container .footer .logo {
  background: url('images/icons/cikada.png') top left no-repeat transparent;
  width: 50px;
  height: 67px;
  margin: auto;
}

/*PUT POSITIONS HERE SO THEY ARE EASIER TO OVERRIDE, alphabetize properties */




