/* 
TODO: SCALE FOR OTHER BROWSER SIZES;

Uses 
Extra small devices (phones, up to 480px)
Small devices (tablets, 768px and up)
Medium devices (desktops, 992px and up)
Large devices (large desktops, 1200px and up)

@media (min-width: 768px) {
}

@media (max-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1200px) {
  .container {
    background-color: blue;
  }
}
*/

::selection {
  background: #ddd; /* Safari */
}
::-moz-selection {
  background: #ddd; /* Firefox */
}

.outer-container {
  z-index: 0;
}

.outer-container .banner {
  background: url('images/banner.png') 50% 0% no-repeat #1b4201;
  min-height: 600px; /* todo: tweak. */
}

.outer-container .banner .logo-background {
  background-color: #000;
  height: 80px;
  -moz-opacity: 0.50;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
  opacity: 0.50;
}

.outer-container .text {
  background-color: #e6e6e6;
  border-bottom: 1px solid #9f9f9f;
  border-top: 1px solid #fff;
}

.outer-container .footer {
  background-color: #cbcbcb;
  border-top: 1px solid #fff;
}

.container {
  margin: 0 auto;
  width: 1040px;
}

.container a.logo {
  background: url('images/logo-xs.png') top left no-repeat transparent;
  display: block;
  height: 52px;
  margin: 15px 15px 0 0;
  position: absolute;
  top: 0;
  width: 225px;
  z-index: 1;
}

.container .quote {
  color: #fff;
  font-size: 3.5em;
  font-weight: bold;
  position: absolute;
  top: 280px;
  width: inherit;
}

.container .quote p {
  margin-bottom: 1.5em;
}

.text .container {
  padding: 15px;
}

.text .container h1 {
  color: #444;
  font-size: 3em;
  font-weight: bold;
  margin: 15px 0;
  text-transform: uppercase;
}

.text .container .column {
  color: #000;
  float: left;
  margin-bottom: 15px;
  width: 49%;
}

.text .container .column.right {
  float: right;
}

.footer .container {
  color: #000;
  padding: 15px;
}

.footer .container .email {
  background-color: #7d7d7d;
}

.footer .container .email a {
  color: #fff;
}

.footer .container .logo {
  background: url('images/icons/cikada.png') top left no-repeat transparent;
  width: 50px;
  height: 67px;
  margin: auto;
}
